/* resets & overrides
-----------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {border: none;}

/* links & lists
-----------------------------------------------*/
li {list-style: none;}
a {text-decoration: none;}

/* layout & styles
-----------------------------------------------*/
:root {
	font-family: Arial, sans-serif;
}
body {
    min-width: 1200px;
    font-size: 14px;
}
/* header
-----------------------------------------------*/
.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 0 20px;
}
.upper-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}
.google-logo {
    width: 92px;
    height: auto;
    margin-right: 60px;
}
.search-bar {
    width: 650px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid lightgray;
}
.search-bar::placeholder {
   color: black;
   font-size: 16px;
   padding-left: 20px;
}  
.sign-in-btn {
	padding: 10px 20px;
	margin:0 20px;
	color: #fff;
	background-color: #4285f4;
	border: none;
	border-radius: 3px;
	font-size: 13px;
}
.lower-header {
    width: 600px;
    height: 47px;
    margin-top: 13px;
    margin-left: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower-header-left {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.lower-header-right {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.header-nav-link {
    color: #5f6368;
    padding: 0 5px 5px 5px;
}
.active-header-link {
    color: #1a73e8;
    border-bottom: 3px solid #1a73e8;
}
/* main
--------------------------------------------*/
main {
    margin-top: 5px;
    margin-left: 190px;
    margin-bottom: 500px;
}
.search-stats {
    color: #70757a;
    
}
.search-result {
    width: 600px;
    margin: 20px 0 40px 0;
}
.search-result-link {
    color: #202124;;
}
.search-result-heading {
    color: #1a0dab;
    font-size: 20px;
    margin: 7px 0;
    font-weight: normal;
}
.search-result-heading:hover {
    text-decoration: underline;
}
.search-result-descr {
    color: #4d5156;
    line-height: 1.58;
}
.keyword {
    color:#5f6368;
    font-weight: bold;
}
.date {
    color: #70757a;
}
.people-search {
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}
.people-search-heading {
    grid-column:1/3 ;
}